div {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: rgb(65, 65, 66);
    border-radius: 5px;
    border: 1px solid rgb(146, 208, 255);
    box-shadow: 10px 10px 15px rgba(177, 205, 225, 0.2);
}

#box {
    display: flex;
    justify-content: center;
    gap: 0px;
    background: rgb(189, 107, 188);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    height: 900px;
    width: 700px;
    color: rgb(90, 14, 76);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 36px;
    padding-top: 40px;
}

#list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgb(238, 224, 241);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    height: 600px;
    width: 600px;
    justify-content: space-around;
}

#listItem {
    font-size: 18px;
    color: rgb(107, 47, 104);
}

.bought {
    text-decoration: line-through;
    color: gray;
}

span {
    margin-top: 20px;
    font-weight: bold;
}

button {
    margin-left: 20px;
    padding: 5px;
    background-color: rgb(142, 68, 145);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

li {
    display: flex;
    justify-content: space-between;
    width: 550px;
    font-size: 18px;
    color: rgb(107, 47, 104);
    align-items: center;
    background-color: rgb(231, 210, 226);
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 5px;
    justify-content: space-around;
}

input {
    height: 40px;
    border: 1px solid rgb(197, 48, 194);
    border-radius: 5px;
    width: 180px;
}
input:focus {
    outline: none;
    border: 2px solid rgb(157, 69, 155);
}
input::placeholder {
    color: rgb(105, 47, 107);
    opacity: 0.7;
}
#addBtn {
    background-color: rgb(142, 68, 145);
    color: white;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
}
#addBtn:hover {
    background-color: rgb(136, 35, 133);
}
