#box-links {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background: rgb(71, 94, 120);
    box-shadow: 2px 2px 10px rgb(157, 217, 255);
}

div {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

#box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    height: 700px;
    width: 700px;
    color: rgb(90, 14, 76);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 36px;
}

ul {
    display: grid;
    gap: 10px;
    margin: 0;
    padding: 0;
}



li {
    display: flex;
    justify-content: space-between;
    width: 550px;
    font-size: 18px;
    color: rgb(107, 47, 104);
    align-items: center;
    background-color: rgb(231, 210, 226);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 5px;
    ;
}

input {
    height: 40px;
    border: 1px solid rgb(197, 48, 194);
    border-radius: 5px;
    width: 180px;
}

input:focus {
    outline: none;
    border: 2px solid rgb(157, 69, 155);
}

input::placeholder {
    color: rgb(105, 47, 107);
    opacity: 0.7;
}

#addBtn {
    background-color: rgb(142, 68, 145);
    color: white;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    padding: 5px;
}

#addBtn:hover {
    background-color: rgb(136, 35, 133);
}

h3 {
    margin: 0;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(145, 106, 141);
    margin: 0;
}


#list-container {
    display: flex;
    flex-direction: column;
    justify-self: start;

}

#list-container li:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.modal-bg {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 400px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.close-trigger {
    float: right;
    cursor: pointer;
    font-size: 25px;
}

img {
    display: block;
    width: 250px;
}

.close-trigger {
    position: absolute;
    top: 10px;
    right: 10px;
}

#myBtn {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    background-color: #2f3e49;
    color: white;
    cursor: pointer;
    margin: 100px 0 0 200px
}

#content,
#editor {
    width: 100%;
    min-height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

#editor {
    display: none;
}

.hint {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 10px;
}

kbd {
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 0 4px;
}