div {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: rgb(65, 65, 66);
    border-radius: 5px;
    border: 1px solid rgb(146, 208, 255);
    box-shadow: 10px 10px 15px rgba(177, 205, 225, 0.2);
}